@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;1,900&display=swap');

html,
body {
    color: #000;
    font-family: 'Noto Sans TC','Roboto', sans-serif;
    line-height: 1.5;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    border: 0;
}

a {
    text-decoration: none;
}


h1 {
    font-size: 64px;
    line-height: 96px;
    padding-bottom: 4px;

    @media (max-width: 576px) {
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 8px;
    }   
}

h2 {
    font-size: 48px;
    line-height: 72px;
    @media (max-width: 576px) {
        font-size: 24px;
        line-height: 36px;
    }   
}

.border-title {
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    line-height: 72px;

    @media (max-width: 576px) {
        line-height: 36px;
        padding-left: 12px;
    }

}


h3 {
    font-size: 42px;
    line-height: 63px;
}

h4 {
    font-size: 32px;
    line-height: 48px;
}

h5 {
    font-size: 24px;
    line-height: 36px;
}

h6 {
    font-size: 20px;
    line-height: 30px;
}

.fs-1, .fs-2, .fs-3, .fs-4, .fs-5, .fs-6 {
    letter-spacing: 0em;
}

.fs-1 {
    font-size: 16px;
}

.fs-2 {
    font-size: 20px;
}

.fs-3 {
    font-size: 24px;
}

.fs-4 {
    font-size: 32px;
}

.fs-5 {
    font-size: 40px;
}

.fs-6 {
    font-size: 48px;
}

.lh-2 {
    line-height: 30px;
}

.lh-3 {
    line-height: 32px;
}

.lh-4 {
    line-height: 36px;
}

.lh-6 {
    line-height: 48px;
}


.text-roboto {
    font-family:'Roboto', sans-serif;
}    

.text-white {
    color: #FFFFFF;
}

.text-red {
    color: #AA0601;
}

.text-darkred {
    color: #650300;
}

.text-gray {
    color: #707070;
}

.text-emperor {
    color: #555555;
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.bg-black {
    background: #000000;
}

.bg-white {
    background: #ffffff;
}

.bg-concrete {
    background-color: #f2f2f2;
}

.bg-pink {
    background: #FBF2F2;
}

.bg-red {
    background: #AA0601;
}

.bg-darkred {
    background: #650300;
}

.bg-transparent {
    background-color: transparent;
}


.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-start  {
    justify-content: start;
}

.justify-content-center  {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

@media (max-width: 768px) {
    .d-md-flex {
        display: flex;
    }

    .flex-md-row {
        flex-direction: row;
    }

    .flex-md-column {
        flex-direction: column;
    }

}


.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-none {
    display: none;
}

@media (max-width: 992px) {

    .d-md-inline-block {
        display: inline-block;
    }
    
}


@media (max-width: 768px) {

    .d-md-block {
        display: block !important;
    }

    .d-md-none {
        display: none !important;
    }

    
}

@media (max-width: 576px)  {
    .d-xs-none {
        display: none !important;
    }

    .d-xs-inline-block {
        display: inline-block;
    }
}



.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;

    @media (max-width: 768px) {
      max-width: 720px;
    }

    @media (max-width: 576px) {
      max-width: 372px;
    }
}

.row {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
}


.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666667%;
}

.col-12 {
    width: 100%;
}

.gap-6 {
    gap: 24px;
}

@media (max-width: 768px) {

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.333333%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-sm-12 {
        width: 100%;
    }
}


@media (max-width: 576px) {

    .col-xs-12 {
      width: 100%;
    }

}
  


.col-offset-5 {
    margin-left: 41.666667%;
}

.col-offset-3 {
    margin-left: 25%;
}



.mx-auto {
    margin: 0 auto;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mb-8 {
    margin-bottom: 32px;
}

.mb-12 {
    margin-bottom: 48px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-1 {
    padding-bottom: 4px;
}

.pb-2 {
    padding-bottom: 8px;
}

.pb-4 {
    padding-bottom: 16px;
}

.pb-5 {
    padding-bottom: 20px;
}

.pb-6 {
    padding-bottom: 24px;
}

.pb-8 {
    padding-bottom: 32px;
}

.pb-9 {
    padding-bottom: 36px;
}

.pb-10 {
    padding-bottom: 40px;
}

.pb-12 {
    padding-bottom: 48px;
}

.pb-15 {
    padding-bottom: 60px;
}

.pb-20 {
    padding-bottom: 80px;
}

.pb-31 {
    padding-bottom: 124px;
}

.pt-1 {
    padding-top: 4px;
}

.pt-2 {
    padding-top: 8px;
}

.pt-4 {
    padding-top: 16px;
}

.pt-6 {
    padding-top: 24px;
}

.pt-24 {
    padding-top: 96px;
}

.py-1 {
    padding: 6px 0px;
}

.py-2 {
    padding: 8px 0px;
}

.py-4 {
    padding: 16px 0px;
}

.py-6 {
    padding: 24px 0px;
}

.py-20 {
    padding: 80px 0px;
}

.px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.px-6 {
    padding-left: 24px;
    padding-right: 24px;
}

.px-8 {
    padding-left: 24px;
    padding-right: 24px;
}

.ps-0 {
    padding-left: 0px;
}

.ps-1 {
    padding-left: 4px;
}

.ps-3 {
    padding-left: 12px;
}

.ps-8 {
    padding-left: 24px;
}

.me-auto {
    margin-left: auto;
}

.ms-3 {
    margin-left: 12px;
}

.me-2 {
    margin-right: 8px;
}
    
.me-3 {
    margin-right: 12px;
}

.me-4 {
    margin-right: 16px;
}

.me-6 {
    margin-right: 24px;
}


@media (max-width: 768px) {

    .mb-md-6 {
        margin-bottom: 24px;
    }

    .mb-md-9 {
      margin-bottom: 36px;
    }

    .me-md-6 {
        margin-right: 24px;
    }

    .pt-md-20 {
        padding-top: 80px;
    }

    .pb-md-20 {
        padding-bottom: 80px;
    }


    .pb-md-10 {
        padding-bottom: 40px;
    }
    
    .px-md-6 {
        padding: auto 24px;
    }

}

@media (max-width: 576px) {

    .mb-xs-6 {
        margin-bottom: 24px;
    }

    .py-xs-6 {
        padding: 24px 0px;
    }

    .py-xs-10 {
        padding: 40px 0px;
    }

    .xs-md-6 {
        margin-bottom: 24px;
    }

    .pb-xs-0 {
        padding-bottom: 0px;
    }

    .pb-xs-4 {
        padding-bottom: 16px;
    }
  
    .pb-xs-6 {
        padding-bottom: 24px;
    }

    .pb-xs-8 {
        padding-bottom: 32px;
    }

    .pt-xs-10 {
        padding-top: 40px;
    }

    .pb-xs-16 {
        padding-bottom: 64px;
    }

}


.border-1 {
    border: 1px solid #000000;
}

.border-2 {
    border: 1px solid #00000020;
}

.border-bottom-2 {
    border-bottom: 1px solid #00000020;
}

.border-3 {
    border-bottom: 1px solid #707070;
}


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}


.w-50 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

/* nav */
.navbar {
    padding: 16px 0;

    @media (max-width: 768px) {
      padding-left: 36px;
      padding-right: 36px;
    }

    @media (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
      }
      
  }
  
  .navbar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      max-width: 100%;
    }

    @media (max-width: 767px) {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        justify-content: flex-start;
      }

  }

  .logo {
    width: 80px;
  }
  
  .navbar-logo {

    @media (max-width: 768px) {
      margin: 0 ;
    }

    @media (max-width: 767px) {
        margin: 0 0 16px 16px;
        margin-right: auto;
      }
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      width: 100%;
    }

  }
  
  .navbar-item {
    height: 100%;
    @media (max-width: 767px) {
      width: 50%;
      margin-right: 0px;
      border: 1px solid #ffffff;
    }
  }
  
  .navbar-link {
    height: 100%;
    display: block;
    font-size: 20px;
    color: #ffffff;
    padding: 8px 32px;

    @media (max-width: 768px) {
       line-height: 30px;
      }

    @media (max-width: 767px) {
      font-size: 16px;
      text-align: center;
      padding: 12px 0;
    }
  }
  
  .navbar-link:hover {
    opacity: 0.7;
  }
  
  .navbar-item:last-child .navbar-link {
    padding-right: 0;
  }
  

/* footer */

footer a {
    color: #FFFFFF;
}

footer a:hover {
    color: #a6a6a6;
}

.footer_Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.footerNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    padding-top: 48px;
    padding-bottom: 32px;

    @media (max-width: 576px) {
        flex-direction: row-reverse;
        align-items: start;
        padding-top: 24px;
        padding-bottom: 24px;
    }

}

.list_Group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    @media (max-width: 767px) {
        gap: 24px;
    }

    @media (max-width: 576px) {
        display: none;
    }

}

.socialList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    @media (max-width: 768px) {
        gap: 16px;
    }

    @media (max-width: 576px) {
        gap: 8px;
    }
}

.socialList-icon {
    width: 48px;
    height: 48px;

    @media (max-width: 768px) {
        width: 40px;
        height: 40px;
    }

    @media (max-width: 576px) {
        width: 24px;
        height: 24px;
    }
}

.contactInfo {
    display: flex;
    flex-direction: column;
    padding-top: 24px;

    @media (max-width: 576px) {
        justify-content: space-between;
        padding-top: 0;
    }
    
}

.contactInfo_icon {
    margin-right: 20px;
    font-size: 36px;

   @media (max-width: 576px) {
        margin-right: 10px;
        font-size: 18px;
    }

}

.contactInfo_List {
    font-size: 36px;
    line-height: 56px;
    display: flex;
    align-items: center;

    @media (max-width: 576px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.copyright {
    font-family: "Roboto";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    @media (max-width: 768px) {
        padding-top: 32px;
        padding-bottom: 40px;
    }

    @media (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding-top: 16px;
        padding-bottom: 24px;
    }
}

.copyright ul {
    display: flex;
    gap: 48px;

    @media (max-width: 576px) {
        flex-direction: column;
        gap: 8px;
    }    
}



/* Banner */
.banner_Home {
    background-image: url(../img/home-header.png);
    background-size: cover;

    @media(max-width: 768px){
        background-image: url(../img/home-header-sm.png);
    }
    
}

.hero_Home {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 787px;

    @media (max-width: 576px) {
        height: 396px;        
    }

}

.hero_Home p {
    font-size: 36px;
    line-height: 54px;

    @media (max-width: 576px) {
        font-size: 16px;
        line-height: 24px;
    }    
}

.cta_Hero {
    padding: 6px 12px;
    font-size: 20px;
}

.cta_Hero:hover {
    color: #aa0601;
    background-color: #fff;
}




/* section2 */

.card_List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 576px) {
        padding-left: 0;
        padding-right: 0; 
    }
}

.card_List li {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.card_icon {
    height: auto;
}

.card_icon img {
    width: 100px;
}


/* section3 */
.frame_Group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 992px) {
        flex-direction: column;
    }

}

.frame_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.frame_photo {
    width: 100%;
}

.frame_body h3 {
    font-family: 'Roboto', sans-serif;
}


/* section4 */

.branding_frame {
    background-image: url(../img/index-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        background-image: url(../img/index-bg-md.png);
    }

    @media (max-width: 576px) {
        background-image: url(../img/index-bg-sm.png);
    }
}


.branding_Group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.branding_Photo {
    width: 100%;
}

.branding_Group h3 {
    font-family: 'Roboto', sans-serif;
}

/* section5 */

.customer_Group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 576px) {
        flex-direction: column;
    }
}

.customer_body {
    width: 100%;
    box-shadow: 0 2px 6px #00000029;
    border-radius: 4px;
}

.customer_photo {
    width: 100%;
}

.customer_content {
    padding: 16px;
    width: 100%;
    height: auto;
    min-height: 205px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.customer_name {
    padding-bottom: 8px;
}

.customer_message {
    flex-grow: 1;
}

.customer_Date {
    font-size: 14px;
}

/* contact */

    .suggest {
        height: 136px;
        line-height: 1.5;
    }

    .check_arera {
        align-items: flex-start;

        /* @media (max-width: 576px) {
            align-items: flex-start;
        } */

    }

    .form-checkbox {
        margin-top: 6px;
    }


    .submit:hover {
        background: #650300;
    }

    /* question */


    /* store */


    .selectTtile {
        font-size: 24px;
        line-height: 36px;
        margin-right: 16px;

    @media (max-width: 576px) {
        font-size: 16px;
        line-height: 24px;
        margin-right: 8px;

    }

    }

    .storeDetail {
        font-size: 19px;
    }

    .storeSet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: 576px) {
            flex-direction: column;

        }
    }

    .storeLeft {
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            flex-direction: row;
            padding-bottom: 24px;
        }

        @media (max-width: 576px) {
            flex-direction: column;
        }

    }



    .embed-container {
         position: relative; 
         padding-bottom: 57.25%; 
         height: 0; 
         overflow: hidden; 
         max-width: 100%; 
    } 

    .embed-container iframe, .embed-container object, .embed-container embed {
         position: absolute; 
         top: 0; 
         left: 0; 
         width: 100%; 
         height: 100%;
    } 

    .select-dropdown {
        width: 304px;
        height: 38px;
        padding: 6px 12px;
        font-size: 18px;
        line-height: 26px;
        color: #495057;
        border-color:#ced4da;
          /* needed */
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        /* SVG background image */
        background-image: url("../img/arrow_drop.svg");
        background-size: 22px;
        background-position: calc(100% - 9px) center;
        background-repeat: no-repeat;
    }
    select::-ms-expand {
        display: none;
    }

    @media (max-width: 576px) {
        .select-dropdown {
            width: 276px;

        }
    }

    /* productList */

    @media(max-width: 768px){
        .productNav {
            max-width: 100% !important;
            padding: 0;
        }

        .storeInfo li:last-child {
            align-items:flex-start
        }

    }
    

    .banner_product_1 {
        background-image: url(../img/product-header-1.png);
        height: 296px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        @media(max-width: 768px){
            background-image: url(../img/product-header-sm-1.png);
        }

        @media(max-width: 576px){
            height: 136px;
        }

        
    }

    .banner_product_2 {
        background-image: url(../img/product-header-2.png);
        height: 296px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        @media(max-width: 768px){
            background-image: url(../img/product-header-sm-2.png);
        }

        @media(max-width: 576px){
            height: 136px;
        }
        
    }

    .banner_product_3 {
        background-image: url(../img/product-header-3.png);
        height: 296px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        @media(max-width: 768px){
            background-image: url(../img/product-header-sm-3.png);
        }

        @media(max-width: 576px){
            height: 136px;
        }
        
    }

    .banner_product_4 {
        background-image: url(../img/product-header-4.png);
        height: 296px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        @media(max-width: 768px){
            background-image: url(../img/product-header-sm-4.png);
        }

        @media(max-width: 576px){
            height: 136px;
        }
        
    }

    .productTitle {

        @media (max-width: 576px)  {
            font-size: 24px;
            line-height: 36px;
        }

    }


    .productSubTitle {
        @media (max-width: 576px)  {
            font-size: 24px;
            line-height: 36px; 
        }
    }


    .color a{
        width: 24px;
        height: 24px;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .color a:hover {
        opacity: 0.7;
    }
      
    .bg-brown {
        background-color: #5F3E2D;
    }
    
    .bg-orange {
        background-color: #B75929;
    }

/* Style the tab */
/* https://www.w3schools.com/howto/howto_js_tabs.asp */

.tab {
    overflow: hidden;
}  

/* Style the buttons inside the tab */
.tab a {
    border: none;
    outline: none;
    cursor: pointer;
    /* transition: 0.3s; */
    font-size: 32px;
    line-height: 48px;
    border: 1px solid #DCDCDC;

    @media(max-width: 768px){
        font-size: 24px;
        line-height: 36px;  
    }

    @media(max-width: 576px){
    font-size: 16px;
       line-height: 24px;  
       padding: 16px 12px;
  }
    
}

/* Change background color of buttons on hover */
.tab a:hover {
    color: #FFF;
    background-color: #AA0601;
    border: 1px solid #AA0601;
    /* border-bottom: 8px solid #AA0601; */
}

/* Create an active/current tablink class */
.tab a.active {
    border-bottom: 8px solid #AA0601;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

/* blog */

.blogSet {
    display: flex;
    flex-direction: row;

    @media (max-width: 576px) {
        flex-direction: column;
    }
}


.blogContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.blog__Title {
    font-size: 32px;
    line-height: 48px;

    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
    }

}

.blog__SubTitle {
    font-size: 20px;
    line-height: 30px;

    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
    }

}

.blog__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.blog__text p {
    font-size: 20px;
    line-height: 30px;

    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
    }

    @media (max-width: 576px) {
        display: none;
    }

}

.more {
    font-size: 36px;
    line-height: 54px;
    color: #650300;
    font-weight: bold;
    margin-left: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    background: transparent;
    z-index: 1;
}


.blogPage  {
    line-height: 30px;
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.blogPage  ul {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    gap: 48px;

    @media (max-width: 576px) {
        padding-left: 14px;
        padding-right: 14px;
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
}

.blogPage  li a {
    color: #FFF;
    font-size: 20px;
    line-height: 30px;  

    @media (max-width: 576px) {
        font-size: 16px;
        line-height: 24px;  
    }
}

.Breadcrumb a {
    color: #000;
}

.Breadcrumb a.active {
    color: #AA0601;
}

.NavTags {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 24px;
    line-height: 36px;
    @media (max-width: 576px) {
        font-size: 16px;
        line-height: 24px;  
    }
}

.tagsIcon {
    font-size: 38px;
    line-height: 28px;
}


.blogPage_Title {
    font-size: 48px;
    line-height: 72px;
    @media (max-width: 576px) {
        font-size: 24px;
        line-height: 36px;  
    }
}

.blogPage_SubTitle {
    font-size: 24px;
    line-height: 36px;  
    @media (max-width: 576px) {
        font-size: 16px;
        line-height: 24px;  
    }
}


.blogPage_social {
    gap: 16px;
}

.blogPage_social a {
    color: #000;
}


.socialIcon {
    width: 24px;
    height: 24px;
}


.blogPage_pagelink a {
    color: #000;
    line-height: 24px;
}


/* pagination */
/* https://www.w3schools.com/howto/howto_css_pagination.asp */

/* Pagination links */
.pagination a {
    color: #555;
    float: left;
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #555;
    font-size: 18px;
    line-height: 27px;

    @media (max-width: 576px) {
        font-size: 16px;
        line-height: 24px;  
        padding: 12px 15px;
    }

  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: #000;
    color: #FFF;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {
    color:#FFF;
    background-color: #000;
}
